*{
  margin: 0;
  padding : 0;
  box-sizing: border-box;
  font-family: "Rubik", sans-serif;
  line-height: 24px;
  font-size: 14px;
  font-weight: 400;
  color: #5a5a5a;
  font-style: normal;
}
a, button{
  text-decoration: none;
  color: inherit;
  cursor: pointer;
  line-height: inherit;
}
a, button, img, input, span {
  transition: all 0.3s ease 0s;
}
h1, h2, h3 ,h4, h5, h6{
  font-weight: 400;
  margin-top: 0;
  font-family: "Playfair Display", sans-serif;
}
ul {
  list-style: outside none none;
  margin: 0;
  padding: 0;
}
img {
  max-width: 100%;
  height: auto;
}
input {
  margin: 0;
  font-family: inherit;
  font-size: inherit;
  line-height: inherit;
}