.product_tab_button{
    /* margin: 0 auto; */
    text-align: center;
    margin-bottom: 35px;
}
.product_tab_button ul.nav{
    position: relative;
    display: inline-flex;    
}
.nav {
    display: flex;
    flex-wrap: wrap;
    padding-left: 0;
    list-style: none;
}
.product_tab_button ul li {
    border: 2px solid #ebebeb;
    border-right: none;
    color: #242424;
}
.product_tab_button ul li:nth-last-child(1) {
    border-right: 2px solid #ebebeb !important;
}
.product_tab_button ul li {
    font-size: 20px;
    color: inherit;
    line-height: 48px;
    font-weight: 700;
    font-family: "Playfair Display", serif;
    /* border-left: 2px solid #ebebeb; */
    padding: 0px 30px;
    border-radius: 2px;
    transition: 0.3s;
    text-decoration: none;
    cursor: pointer;
}
.product_tab_button ul li:hover {
    border : 2px solid #c09578;
    border-right: 2px solid #c09578 !important;
    color: #c09578;
}
.product_tab_button ul::before{
    content: '';
    width : 200px;
    height : 2px;
    position: absolute;
    right: 100%;
    top: 50%;
    background-image: linear-gradient(to right, transparent, #ebebeb);
}
.product_tab_button ul::after{
    content: '';
    width : 200px;
    height : 2px;
    position: absolute;
    left: 100%;
    top: 50%;
    background-image: linear-gradient(to left, transparent, #ebebeb);
}
.active-btn{
    color: #c09578 !important;
    border: 2px solid #c09578 !important;
}
.single_product{
    margin-bottom: 30px;
    transition: 0.3s;
    padding-bottom: 30px;
    background: #fff;
    border-radius: 3px;
    box-shadow: 0px 0 15px 0 rgba(0, 0, 0, 0.3);
}
.product_content{
    text-align: center;
    position: relative;
}
.tag_cate{
    margin-bottom: 10px;
}
.tag_cate a{
    font-size: 13px;
}
.product_content h3{
    line-height: 22px;
    font-size: 15px;
    font-weight: 700;
    text-transform: capitalize;
    position: relative;
    padding-bottom: 15px;
    margin-bottom: 13px;
}
.product_content h3::before{
    background-image: linear-gradient(to right, transparent, #ebebeb 30%, 85%, transparent);
    content: "";
    display: block;
    height: 1px;
    width: 100%;
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
}
.product_content h3 a {
    color: #242424;
    text-decoration: none;
}
.price_box .old_price{
    color: #545454;
    font-size: 14px;
    margin-right: 5px;
    text-decoration: line-through;
    font-weight: 400;
}
.price_box .current_price{
    font-size: 16px;
    font-weight: 500;
    color: #c09578;
}
.action_links ul li {
    display: inline-block;
}
.action_links ul li a{
    line-height: 37px;
    height: 35px;
    width: 35px;
    background: #f1f1f1;
    color: #666;
    text-align: center;
    display: block;
}
.icon {
    font-family: 'Stroke-Gap-Icons';
    speak: none;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}
.action_links img {
    display: inherit;
}
.wishlist_img {
    width: 20px;
    margin-top: -5px;
}
.add_to_cart a{
    line-height: 39px;
    padding: 0 18px;
    width: 100% !important;
    text-transform: capitalize;
    font-size: 12px;
}