.product_section {
    padding-bottom: 39px;
    border-bottom: 1px solid #ebebeb;
}

.product_section .section_title {
    margin-bottom: 33px;
}

.section_title {
    position: relative;
}

.section_title::before {
    content: "";
    height: 2px;
    background: #ebebeb;
    position: absolute;
    left: 0;
    top: 50%;
    right: 15px;
}

.section_title h2 {
    margin-bottom: 0;
    position: relative;
    display: inline-block;
    line-height: 30px;
    font-size: 24px;
    padding-right: 20px;
    background: #fff;
    color: #242424;
    font-weight: 700;
}

.single_product {
    transition: 0.3s;
    margin-bottom: 30px;
    padding-bottom: 30px;
    background: #ffffff;
    border-radius: 3px;
    box-shadow: 0 0 15px 0 rgba(0, 0, 0, 0.3);
}

.product_thumb {
    position: relative;
    margin-bottom: 8px;
}

.slick-slide {
    padding: 0 6px;
}

.tag_cate a{
    text-transform: capitalize;
    text-decoration: none;
}

.product_content h3 a{
    line-height: 22px;
    font-size: 15px;
    font-weight: 700;
    position: relative;
    padding-bottom: 15px;
    margin-bottom: 13px;
    font-family: "Playfair Display", serif;
}

.product_content h3 a:hover {
    color: #c09578;
}

.action_links ul {
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    /* display: grid;
    place-items: center; */
}

.action_links ul li a.wishlist_tooltip {
    /* margin-top: 5px !important; */
    margin-right: 4px;
}

.action_links img {
    display: inherit;
}

.cartShow {
    padding: 5px 0;
}

.product_area .slick-arrow {
    display: block !important;
}

.product_area .slick-prev::before {
    content: "" !important;
}

.product_area .slick-next::before {
    content: ""!important;
}

.product_area .slick-arrow .betterIcon {
    background-color: #fff;
    font-weight: 800;
    font-size: 20px;
}

.product_area .slick-arrow .betterIcon:hover {
    fill: #c09578 !important;
}

.product_area .slick-next {
    position: absolute;
    top: -56px;
    right: 13px;
}
.product_area .slick-prev {
    position: absolute;
    top: -56px;
    left: 1246px;
}

.product_area ul.slick-dots {
    display: none !important;
}
